<% if @post.errors.any? %>
  <div>
    <% @post.errors.full_messages.each do |msg| %>
      <div class = "alert-danger" role="alert">
        <a href="#" class="close" data-dismiss="alert">x</a>  
        <%= msg %>
      </div>
      <% end %>
<% end %>
